.containerHouse {
    overflow-x: hidden;
}

.houseImgDetails {
    width: 100%;
    height: 225px;
    position: relative;
    text-align: center;
}

.houseImgDetails img {
    width: 20%;
    height: 100%;
    object-fit: contain;

}

.houseDetails h2 {
    font-size: 24px;
    white-space: nowrap;
    /* Evita el desbordamiento de texto a la siguiente línea */
    overflow: hidden;
    /* Oculta el contenido que se desborda */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos (...) cuando el texto se desborda */
    width: 200px;
    /* Ancho máximo del contenedor */
}

.houseDetails p {

    font-size: 13px
}